/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    text-decoration: none;
    p{
      position: absolute;
      left: 2em;
      margin-top: 0;  
    }
    .footer__container{
      width: 90%;
      h3{
        font-family: "shrikhand";
        color: white;
      }
      ul{
        padding: 0;
        li{
          padding-bottom: 3%;
          a{
            display: flex;
            position: relative;
            color: white;
          }
        }
      }
    }
  }
